body {
    text-align: center;
    margin: 0 auto;
    max-width: 40em;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    opacity: .85;
}

.modal {
    width: 38em;
    margin: 3em auto;
    overflow: visible;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    background: #ccc;
    display: flex;
}

.character-select {
    height: 7em;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Add Animation */
@keyframes animatetop {
    to {
        top: -14em;
        opacity: 0;
    }
}

.hide-modal {
    animation: animatetop .6s ease-out;
}

.sprite1 {
    background-image: url(../images/char-boy.png);
}

.sprite2 {
    background-image: url(../images/char-princess-girl.png);
}

.sprite3 {
    background-image: url(../images/char-cat-girl.png);
}

.sprite4 {
    background-image: url(../images/char-pink-girl.png);
}

.sprite {
    background-size: cover;
    background-position: 0 -2.5em;
    background-repeat: no-repeat;
    margin: 1em auto;
    border: none;
    padding: 20px;
    width: 100%;
    border-radius: 50%;
    height: 75%;
    transition: all 0.5s;
    cursor: pointer;
}
